*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Cinzel:wght@600&family=Prosto+One&display=swap");

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary-50: hsla(97, 13%, 80%, 1);
  --primary-100: hsla(113, 13%, 75%, 1);
  --primary-200: hsla(125, 15%, 70%, 1);
  --primary-300: hsla(133, 18%, 59%, 1);
  --primary-400: hsla(150, 15%, 49%, 1);
  --primary-500: hsla(165, 19%, 40%, 1);
  --primary-600: hsla(174, 19%, 33%, 1);
  --primary-700: hsla(186, 21%, 26%, 1);
  --primary-800: hsla(192, 21%, 25%, 1);
  --primary-900: hsla(201, 20%, 23%, 1);
  /* grey */
  --grey-50: #fafafa;
  --grey-100: #f4f4f5;
  --grey-200: #e4e4e7;
  --grey-300: #d4d4d8;
  --grey-400: #a1a1aa;
  --grey-500: #71717a;
  --grey-600: #52525b;
  --grey-700: #3f3f46;
  --grey-800: #27272a;
  --grey-900: #18181b;
  /* teyvat colors */
  --anemo: #56ecda;
  --pyro: #ff934e;
  --geo: #eab100;
  --hydro: #05ddf4;
  --dendro: #08c082;
  --electro: #a555dc;
  --cryo: #dafaf7;
  /* status colors */
  --ongoing: rgba(133, 10, 10, 0.656);
  --next: rgb(231, 196, 0);
  --done: rgb(1, 99, 1);
  /* other colors */
  --black: #222;
  --white: #fff;
  --red: #e63946;
  --yellow: gold;
  --five-star: linear-gradient(to bottom, rgb(159, 108, 65), rgb(235, 162, 97));
  --four-star: linear-gradient(
    to bottom,
    rgb(113, 89, 150),
    rgb(151, 114, 205)
  );
  /* fonts */
  --headingFont: "Cinzel Decorative", cursive;
  --bodyFont: "Prosto One", cursive;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.8rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0, 06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0, 06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

hr {
  border: 0.3px solid var(--grey-300);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.8;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--primary-700);
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}
a,
button {
  line-height: 1.15;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hispter {
  color: var(--primary-200);
  background: var(--primary-200);
}
.btn-hispter:hover {
  color: var(--primary-500);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: var(--yellow-light);
  color: var(--yellow-dark);
}
.btn-danger {
  background: var(--yellow-dark);
  color: var(--white);
}

/* alert */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
.alert-danger {
  color: var(--yellow-dark);
  background: var(--yellow-light);
}
.alert-success {
  color: var(--blue-dark);
  background: var(--blue-light);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}
.form:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-500);
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--yellow-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid --grey-400;
  border-radius: 50%;
  border-top-color: var(--primary-50);
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}

/* title */
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  /* soul of underline uhu */
  margin-top: -1rem;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
.full-page {
  min-height: 100vh;
}

.coffee-info {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: var(--letterSpacing);
}
.coffee-info span {
  display: block;
}
.coffee-info a {
  color: var(--primary-500);
}

@media screen and (min-width: 992px) {
  .coffee-info {
    text-align: left;
  }
  .coffee-info span {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

/* toastify */
.Toastify__toast {
  text-transform: capitalize;
}
